<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link active" aria-current href="#!">Home</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#!">Blog</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#!">Features</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#!">Pricing</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#!">Documentation</a>
    </li>
  </ul>
</nav>