<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__inner">
            <div class="footer__logo">
                @@include('../../bem-blocks/logo/_logo.html')
            </div>
            <div class="footer__nav">
                @@include('../../bem-blocks/nav/_nav.html')
            </div>
            <div class="footer__socials">
                @@include('../../bem-blocks/socials/_socials.html')
            </div>
            <div class="footer__button-secondary">
                <button class="button-secondary">Get started</button>
            </div>
        </div>
    </div>
</footer>
