.button-border {
  @include no-btn;
  padding: 15px 25px;
  border-radius: 2px;
  border: 1px solid var(--color__secondery_dim);
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: var(--color__secondery_dim);
  background-color: #ffffff;

  &:hover {
    color: #ffffff;
    background-color: var(--color__primary_saturated);
  }
  &:active {
    background-color: var(--color__accent);
  }
}