:root {
  --color__primary:  #5E81FE;
  --color__secondery:  #D1D6E3;
  --color__accent: #D43F3F;
  --color__primary_dim: #D2E1FF;
  --color__accent_dim: #FFD7D7 ;
  --color__secondery_dim: #8D96BD;
  --color__secondery_saturated: #697CA6;
  --color__primary_saturated: #3D4F9F;
  --gradient__primary: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  --transition: .2s;
  --gradient__secondery: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
}