<section class="faq">
  <div class="faq__wrapper">
    <div class="faq__inner">
      <h3 class="faq__subtitle subtitle">Customer help</h3>
      <h2 class="medium-title faq__medium-title">Frequently asked questions</h2>
      <ul class="faq__accordion accordion">
        <li class="accordion__item">
          <div class="accordion__question question">
            <div class="question__arrow">
              <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2L9 9L16 2" stroke="#8E96B7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <h4 class="question__text">
              Reque insolens in vel?
            </h4>
          </div>
          <div class="accordion__answer answer">
            <p class="answer__text">
              Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti.
            </p>
            <button class="answer__button button-border">Go to documentation</button>
          </div>
          <div class="accordion__delimiter delimiter"></div>
        </li>
        <li class="accordion__item">
          <div class="accordion__question question">
            <div class="question__arrow">
              <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2L9 9L16 2" stroke="#8E96B7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <h4 class="question__text">
              Reque insolens in vel?
            </h4>
          </div>
          <div class="accordion__answer answer">
            <p class="answer__text">
              Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti.
            </p>
            <button class="answer__button button-border">Go to documentation</button>
          </div>
          <div class="accordion__delimiter delimiter"></div>
        </li>
        <li class="accordion__item">
          <div class="accordion__question question">
            <div class="question__arrow">
              <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2L9 9L16 2" stroke="#8E96B7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <h4 class="question__text">
              Reque insolens in vel?
            </h4>
          </div>
          <div class="accordion__answer answer">
            <p class="answer__text">
              Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti.
            </p>
            <button class="answer__button button-border">Go to documentation</button>
          </div>
          <div class="accordion__delimiter delimiter"></div>
        </li>
        <li class="accordion__item">
          <div class="accordion__question question">
            <div class="question__arrow">
              <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2L9 9L16 2" stroke="#8E96B7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <h4 class="question__text">
              Reque insolens in vel?
            </h4>
          </div>
          <div class="accordion__answer answer">
            <p class="answer__text">
              Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti.
            </p>
            <button class="answer__button button-border">Go to documentation</button>
          </div>
          <div class="accordion__delimiter delimiter"></div>
        </li>
        <li class="accordion__item">
          <div class="accordion__question question">
            <div class="question__arrow">
              <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2L9 9L16 2" stroke="#8E96B7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <h4 class="question__text">
              Reque insolens in vel?
            </h4>
          </div>
          <div class="accordion__answer answer">
            <p class="answer__text">
              Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti.
            </p>
            <button class="answer__button button-border">Go to documentation</button>
          </div>
          <div class="accordion__delimiter delimiter"></div>
        </li>
      </ul>
    </div>
  </div>
</section>