.faq {
  &__wrapper {
    max-width: 810px;
    padding: 0 30px;
    margin: 0 auto;
  }
  &__inner {
    padding: 90px 0;
  }
  &__subtitle {
    text-align: center;
  }
  &__medium-title {
    margin: 20px 0 70px;
    text-align: center;
  }
  &__accordion {}
}

.accordion {
  list-style-type: none;
  &__item {}
  &__question {}
  &__answer {}
}

.question {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  &__arrow {}
  &__text {
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #8E96B7;
    &.active {
      font-weight: 700;
    }
  }
  &:hover {
    .question__text {
      color: #495274;
    }
  }

}

.answer {
  display: none;
  &.active {
    display: flex;
    padding: 20px 20px 20px 40px;
    align-items: center;
    gap: 20px
  }
  &__text {
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.03em;

    color: #8D96BD;
  }
  &__button {
    min-width: 190px;
    background: #E8ECF4;
    color: #7382A3;
    border: 1px solid #7382A3;
  }

}
