<section class="productivity">
    <ul class="slider">
      <li class="slide">
        <div class="wrapper">
        <h4 class="subtitle productivity__subtitle">PLAN YOUR LIFE</h4>
        <h1 class="main-title productivity__main-title">Increase your <span>productivity</span></h1>
          <p class="productivity__text">
            Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an, insolens gubergren similique est cu. Et vel modus congue vituperata.
          </p>
        <div class="productivity__button-play">
          @@include('../../bem-blocks/buttons/button-play/_button-play.html')
        </div>
        </div>
      </li>
      <div class="productivity__dots">
        @@include('../../bem-blocks/dots/_dots.html')
      </div>
    </ul>
</section>