<section class="stats">
  <div class="stats__inner">
    <div class="stats__left-column left-column">
      <div class="left-column__img --svg__icon_speed"></div>
      <p class="left-column__data">89%</p>
      <p class="left-column__text">
        Customers who have increased their productivity
      </p>
    </div>
    <div class="stats__right-column right-column">
      <div class="right-column__img --svg__icon_humans"></div>
      <p class="right-column__data">3123</p>
      <p class="right-column__text">
        Users who have used our application
      </p>
    </div>
  </div>
</section>